body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9f9f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Some personal styles */

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
  /* transition: all 1500 ease-in-out; */
}

/* .my-masonry-grid_column > div > div:hover {
  transform: scale(0.99);
} */

input:invalid {
  border: 'solid 2px tomato';
}

.MuiFab-root {
  position: absolute !important;
}

.Loader {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 999;
}

.weatherCard {
  width: fit-content;
  border-radius: 4px;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #d6d6d6;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.weatherIcon {
  width: 60px;
  height: 60px;
}
